MARCAP_REPO_URL=https://github.com/FinanceData/marcap.git
MARCAP_REPO_PATH=./data/marcap
MARCAP_DUCKDB_PATH=./data/cache/marcap.duckdb
ACCESS_TOKEN=dev
DEFAULT_START=1995-05-02
DEFAULT_MAX_ROWS=20000
PUBLIC_BASE_URL=
